<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<display-name>Mélodi web-service interne</display-name>

	<!-- cache des ressources statiques -->
	<filter>
		<filter-name>ExpiresFilter</filter-name>
		<filter-class>org.apache.catalina.filters.ExpiresFilter</filter-class>
		<init-param>
			<param-name>ExpiresByType image</param-name>
			<param-value>modification plus 0 seconds</param-value>
		</init-param>
		<init-param>
			<param-name>ExpiresByType text/css</param-name>
			<param-value>modification plus 0 seconds</param-value>
		</init-param>
		<init-param>
			<param-name>ExpiresByType application/javascript</param-name>
			<param-value>modification plus 0 seconds</param-value>
		</init-param>
		<init-param>
			<param-name>ExpiresDefault</param-name>
			<param-value>access plus 10 minutes</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>ExpiresFilter</filter-name>
		<url-pattern>/static/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>

	<!-- filtre encodage de la request en UTF-8 -->
	<filter>
		<filter-name>SetCharacterEncoding</filter-name>
		<filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>SetCharacterEncoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- filtre encodage de la response en UTF-8 -->
	<filter>
		<filter-name>AddDefaultCharsetFilter</filter-name>
		<filter-class>org.apache.catalina.filters.AddDefaultCharsetFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>AddDefaultCharsetFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring-ws-interne.xml</param-value>
	</context-param>
	<context-param>
		<param-name>spring.profiles.active</param-name>
		<param-value>default</param-value>
	</context-param>

	<servlet>
		<servlet-name>Jersey REST Service</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>
				io.swagger.jaxrs.listing,
				fr.insee.bidbo.ws
			</param-value>
		</init-param>
		<init-param>
			<param-name>jersey.config.server.provider.classnames</param-name>
			<param-value>org.glassfish.jersey.media.multipart.MultiPartFeature</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Jersey REST Service</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>react</servlet-name>
		<jsp-file>/static/react-melodi/application.html</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>react</servlet-name>
		<url-pattern>/los/react/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SwaggerBootstrap</servlet-name>
		<servlet-class>fr.insee.bidbo.ws.init.Bootstrap</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

	<welcome-file-list>
		<welcome-file>/static/react-melodi/application.html</welcome-file>
	</welcome-file-list>
</web-app>
